<nav class="navbar navbar-light bg-light navbar-expand-lg">
    <a href="/" class="navbar-brand">
    <img src="assets/honeydew-logo-black.svg" alt="" height="30px" width="30px"> HoneyDew</a>

    <div class="navbar-nav">
        <a href="/" class="nav-link nav-item">Home</a>
        <a href="/spaces" class="nav-link nav-item">Spaces</a>
        <a href="/tasks" class="nav-link nav-item">Tasks</a>
        <a href="/auth/login" class="nav-link nav-item">Login/Register</a>
    </div>
</nav>


