<ul class="nav my-3">
    <li class="nav-item"><a href="/" class="nav-link btn btn-primary btn-sm mr-3">Home</a></li>
    <li class="nav-item"><a href="/spaces" class="nav-link btn btn-primary btn-sm mr-3">Spaces</a></li>
    <li class="nav-item"><a href="/tasks" class="nav-link btn btn-primary btn-sm mr-3">Tasks</a></li>
    <li class="nav-item"><a href="/auth/login" class="nav-link btn btn-primary btn-sm">Login/Register</a></li>
</ul>