/* body {
  background-color: aqua;
}

main {
  background-color: white;
  height: 100vh;
} */

#show-task-image {
  display: inline-block;
  max-width: 100%;
}

.fas.fa-check-circle {
  color: green;
}

.far.fa-check-circle {
  color: blue;
}

body{
  background: radial-gradient(ellipse at bottom, rgb(23, 78, 60) 0%, #e3ece0 100%);
  font-family: Haettenschweiler;
  color: rgb(36, 35, 35);
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

a{
  color: darkblue
}

.btn-danger {
  background: darkred;
  color: rgb(230, 221, 221);
  border-radius: 50%;
}

.btn-primary {
  background: rgb(3, 32, 75);
  color: rgb(230, 221, 221);
  border-radius: 50%;
}

.btn-dark {
  background: rgb(37, 55, 82);
  color: rgb(230, 221, 221);
  border-radius: 50%;
}

.btn-secondary {
  background: rgb(37, 55, 82);
  color: rgb(230, 221, 221);
  border-radius: 50%;
}

.btn-primary:hover, .btn-danger:hover, .btn-dark:hover, .btn-secondary:hover{
  transform: scale(1.05);
  transition: .6s linear;
}

#topnav {
  border-radius: 0 0 20px 20px; 
  background: linear-gradient(rgba(161, 226, 210, 0.8) 0%, rgba(109, 160, 140, 0.8) 100%);
  margin: -12px -24px 0 -24px
}

#cont{
  height: 100%; 
  min-height:100vh;
  background: rgb(235, 250, 245);
  padding: 12px 24px;
}

#child-space{
  border-radius: 10px;
}