/* body {
  background-color: aqua;
}

main {
  background-color: white;
  height: 100vh;
} */

#show-task-image {
  display: inline-block;
  max-width: 100%;
}
.fa-check-circle {
  cursor: pointer;
}
.fas.fa-check-circle {
  color: green;
}

.far.fa-check-circle {
  color: blue;
}
